@import"htpps://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200,300,400&display=swap";

*/*
{
margin: 0; padding: 0;
border: 0;
font-size: 100%;
font-family: “Source Sans Pro”, sans-serif;
font-weight: 300;
vertical-align: baseline;
text-decoration: none;
list-style: none;
}
.conteudo{
         width:1024px;
        margin:30px auto;
        display: flex;
        flex-direction:column;
    }

    
.linha{
        display:flex;     flex-direction:row;
}
.header{
    justify-content: space-between;
    align-items: center;
}
.header2{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.botao{
    padding: 5px 30px;
    border-radius: 10px;
}
