
.container {
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .title {
    text-align: center;
    margin: 0;
  }

  .subtitle {
    text-align: center;
    margin: 0;
  }

  .centered-text {
    text-align: justify;
  }

  .box {
    border: none ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 13px;
    width: 800px;
    background-color: rgba(224,245,253,255) ;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  h1 {
    color: rgba(0,74,173,255) ;
    font-weight: bold;
    padding: 30px;
    font-size: 20px;
  }

  body {
    background-color: rgba(247,253,243,255);
    align-items: center;
  }

  h3 {
    color: rgba(27,60,120,255);
    padding: 8px;
    font-weight: bold; 
  }

  p {
      color: rgba(27,60,120,255);
      padding: 5px;
      margin: 10px;
  }

  .box2 {
    border: 10px;
    background-color: rgb(37, 150, 190);
    margin: 20px;


  }

  h4 {
    color: white
  }

  .pbox2 {
    color: white;
  }
