.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .title {
    text-align: center;
    margin: 0;
  }

  .subtitle {
    text-align: center;
    margin: 0;
  }

  .centered-text {
    text-align: center;
  }

  .box {
    border: none solid black;
    padding: 30px;
    width: fit-content;
    background-color: rgba(224,245,253,255) ;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  h1 {
    color: rgba(0,74,173,255) ;
    font-weight: bold;
    padding: 20px;
  }