.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .title {
    text-align: center;
    margin: 0;
  }

  .subtitle {
    text-align: center;
    margin: 0;
  }

  .centered-text {
    text-align: center;
  }

  .box {
    border: 2px solid black;
    padding: 40px;
    width: fit-content;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }