body {
  background-color: #F7FDF3;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px auto;
  background-color: #e0f5fd;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 3px 3px lightgray;
}

.opcoes {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.referencias {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 30px;
}

.lista-enderecos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  color:  #144258
}

.lista-enderecos address {
  width: 80%;
  margin: auto;
}

.profissionais {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  align-items: center;
}

.profissionais img {
  width: 90%;
  border-radius: 10px;
  box-shadow: 2px 3px 3px lightgray;
}


.title {
  font-size: 26px;
  color: #004AAD;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.subtitle {
  text-align: center;
  color:  #262b73;
  font-size: 22px;

}

.texto-detalhe {
  line-height: 22px;
  text-align: justify;
  text-indent: 40px;
  margin-bottom: 20px;
  color:  #144258
}

address {
  line-height: 20px;
  border-left: solid 1px #004AAD ;
  padding-left: 10px;
}

address h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

address a {
  text-decoration: none;
  color: #262b73;
}

address a:hover {
  color: #ef0189;
}


