body {
    background-color:#f7fdf3;
}
#titulo-artigos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/artigos/Fundo02.png);
    background-size: 100%;
    position: relative;
    height: 300px;
    width: 100%;
}
.div-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 700px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    line-height: 1.5em;
}
.section-geral01 {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}
.div-geral {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    line-height: 1.5em;
    margin-top: 15px;
}
main > section > div > article > h2 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}
main > section > div > article > p {
    text-indent: 3em;
    margin-bottom: 15px;
}
ul.lista-episodios {
    padding: 10px;
    margin-left: 35px;
    list-style-type: disc;
}
.div-titulo01 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5rem;
    height: 30px;
    width: auto;
}
.div-titulo02 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5rem;
    height: 30px;
    width: auto;
}
.div-video01 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    height: auto;
}
.div-video02 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    height: auto;
}
.div-video03 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.section-geral02 {
    display: block;
    width: 1000px;
    margin: auto;
}
main > section > div > iframe {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Estilização do SUBMENU-ajuda.html */
#titulo-ajuda {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/artigos/Fundo03.png);
    background-size: 100%;
    position: relative;
    height: 300px;
    width: 100%;
}
.div-titulo03 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    width: auto;
}
/* ############# FIM ############# */

/* Estilização do SUBMENU-diferenca.html */
#titulo-diferenca {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/artigos/Fundo04.png);
    background-size: 100%;
    position: relative;
    height: 300px;
    width: 100%;
}
/* ############# FIM ############# */

/* Estilização do SUBMENU-tratar.html */
#titulo-tratar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/artigos/Fundo05.png);
    background-size: 100%;
    position: relative;
    height: 300px;
    width: 100%;
}
/* ############# FIM ############# */

@media screen and (max-width: 1024px) {
    main > section > div > iframe {
        width: 100%;
        height: 75%;
    }
    #titulo-artigos , #titulo-ajuda , #titulo-diferenca , #titulo-tratar {
        background-size: cover;
        background-position: 500px;
        height: 200px;
    }
    .div-titulo {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        width: 100%;
        padding-top: 1.0em;
        padding-bottom: 1.0em;
    }
    .section-geral01 , .section-geral02{
        display: block;
        margin: 0 auto;
        width: 85%;
    }
    .div-geral {
        font-size: 15px;
    }
    ul.lista-episodios {
        margin-left: 15px;
    }
    .div-titulo01 , .div-titulo02 {
        display: none;
    }
}