h2 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    text-indent: 3em;
}
.section01-titulo01 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagens/artigos/Fundo02.png);
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
    width: 100vw;
}
.div01-titulo01 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    padding: 2rem;
    width: 50%;
    line-height: 1.5em;
}
.section02-texto01 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6em;
}
.div02-texto01 {
    display: flex;
    text-align: justify;
    font-size: 14px;
    margin-top: 1em;
    height: auto;
    width: 800px;
}
.section03-titulos-videos01e02 {
    display: flex;
    flex: 1;
    justify-content: center;
}
.div03-titulo-video01 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    height: 30px;
    width: 400px;
}
.div04-titulo-video02 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    height: 30px;
    width: 400px;
}
.section04-videos01e02 {
    display: flex;
    flex: 1;
    justify-content: center;
}
.div05-video01{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    height: auto;
}
.div06-video02 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    height: auto;
}
.section05-texto02 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    line-height: 1.6em;
}
.div07-titulo-e-texto02 {
    display: flex;
    text-align: justify;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
    width: 800px;
}
.div08-texto02-video03 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 1em;
}
.section06-texto03 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    line-height: 1.6em;
}
.div09-titulo-e-texto03 {
    display: flex;
    text-align: justify;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
    width: 800px;
}
.section07-videos04e05 {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 1rem;
}
.div10-video04{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    height: auto;
}
.div10-video05 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    height: auto;
}

ul.lista-episodios {
    padding: 10px;
    margin-left: 70px;
}

.lista-episodios li{
    list-style-type: disc;
}

article p{
    margin: 15px;
}

body {
    background-color:#f7fdf3;
}