.section01 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagens/artigos/Fundo02.png);
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
    width: 100vw;
}
section {
    line-height: 1.34em;
}
.div01 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    padding: 2rem;
    width: 50%;
    line-height: 1.5em;
}
.section02 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6em;
}
.div02 {
    display: flex;
    text-align: justify;
    font-size: 14px;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 700px;
    width: 700px;
}
h2 {
    font-size: 20px;
    font-weight: bolder;
}
p {
    text-indent: 3em;
}
.section03 {
    display: flex;
    flex: 1;
    justify-content: center;
}
.div03 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    height: 30px;
    width: 400px;
}
.div04 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    height: 30px;
    width: 400px;
}
.section04 {
    display: flex;
    flex: 1;
    justify-content: center;
}
.div05{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    height: auto;
}
.div06 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    height: auto;
}