body {
    background-color: #F7FDF3;
}

main {
    padding-top: 3em;
}

:root {
    --cor1: #D3EDEE;
    --cor2: #004AAD;
    --cor3: #EF0189;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

.cadastro {
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 50px;
    gap: 20px;
}

.cadastro .boas-vindas {
    color: #004AAD;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5rem;
}

.text-cadastro {
    flex: 1.5;
    padding: 2rem;
}

.text-cadastro h1 {
    margin-bottom: 2rem;
    font-size: 30px;
    color: #ef0189;
    font-weight: bold;
}

.title h1 {
    color: #004AAD;   
    font-size: 30px; 
    font-weight: bold;
}

.text-cadastro p {
    text-align: justify;
    margin-bottom: 2rem;
    line-height: 22px;
    text-indent: 3em;
    line-height: 1.5rem;
}

.form-cadastro {
    flex: 2;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor1);
    padding: 2rem;
    box-shadow: 5px 5px 10px #00000048;
    border-radius: 10px;
}

.form-header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after,
.text-cadastro h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #004AAD;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    margin-top: 4px;
}

.form-header h1::after {
    background-color: #ef0189;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.2rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box input {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.6rem 2.5rem;
    border: none;
    border-radius: 10px;
}

textarea {
    display: flex;
    flex: 1;
    margin: 0.6rem 0;
    padding: 0.7rem 0.5rem;
    border: none;
    outline: none;
    border-radius: 10px;
    border-radius: 1px 1px 6px rgb(156, 156, 156);
    font-size: 16px;
    resize: none;
    width: 100%;
}

select {
    border-radius: 10px;
    height: 2.4rem;
    margin: 0.8rem 0;
    /* height: 2.4rem; */
    width: 14.8rem;
    border: none;
    outline: none;
    display: flex;
}

.input-box label,
.gender-title h6 {
    font-size: 16px;
    font-weight: 600;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
}

.section-botoes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.botao {
    display: inline-block;
    background-color: #004aad;
    color: white;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;
}
.botao:hover {
    display: inline-block;
    background-color: #ef0189;
    color: white;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;
}