body {
    background-color: #F7FDF3;
}

main {
    padding-top: 3em;
}

:root {
    --cor1: #D3EDEE;
    --cor2: #004AAD;
    --cor3: #EF0189;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

.cadastro {
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 50px;
    gap: 20px;
    width: 90%;
}

.cadastro .boas-vindas {
    color: #004AAD;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5rem;
}

.cadastro .text-cadastro {
    flex: 1.5;
    padding: 2rem;
}

.text-cadastro h1 {
    margin-bottom: 2rem;
    font-size: 30px;
    color: #ef0189;
    font-weight: bold;
}

.title h1 {
    color: #004AAD;
    font-size: 30px;
    font-weight: bold;
}

.text-cadastro p {
    text-align: justify;
    margin-bottom: 2rem;
    line-height: 22px;
    text-indent: 3em;
    line-height: 1.5rem;
}

.cadastro .form-cadastro {
    flex: 2;
}

.form-cadastro .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor1);
    padding: 2rem;
    box-shadow: 5px 5px 10px #00000048;
    border-radius: 10px;
}

.form-header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after,
.text-cadastro h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #004AAD;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    margin-top: 4px;
}

.form-header h1::after {
    background-color: #ef0189;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.2rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.p-campos{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 11px;
    font-style: italic;
    color: red;
}

.input-box input {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.6rem 2.5rem;
    border: 0px;
    outline: 0px;
    border-radius: 10px;
    transition: .4s;
}

.input-box input:focus {
    border: 2px solid;
    border-color: #004AAD;
}

.form-cadastro #forcaSenha {
    font-size: 13px;
    color: #FEFEFE;
    font-style: italic;
    text-align: center;
    padding: 5px 0;
}

.form-cadastro #forcaSenha.forte {
    background-color: green;
    border-radius: 10px;
}

.form-cadastro #forcaSenha.media {
    background-color: gold;
    color: black;
    border-radius: 10px;
}

.form-cadastro #forcaSenha.fraca {
    background-color: red;
    border-radius: 10px;
}

.form-cadastro textarea {
    display: flex;
    flex: 1;
    margin: 0.6rem 0;
    padding: 0.7rem 0.5rem;
    border: none;
    outline: none;
    border-radius: 10px;
    border-radius: 1px 1px 6px rgb(156, 156, 156);
    font-size: 16px;
    resize: none;
    width: 100%;
    transition: .4s;
}
.form-cadastro textarea:focus {
    border: 2px solid;
    border-color: #004AAD;
}

.form select {
    border-radius: 10px;
    height: 2.4rem;
    margin: 0.8rem 0;
    width: 14.8rem;
    border: none;
    outline: none;
    display: flex;
    transition: .4s;
}
.form select:focus {
    border: 2px solid;
    border-color: #004AAD;
}

.input-box label,
.gender-title h6 {
    font-size: 16px;
    font-weight: 600;
}

.form-cadastro .gender-group {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.form-cadastro .gender-input {
    display: flex;
    align-items: center;
}

.form-cadastro .gender-input input {
    margin-right: 0.35rem;
}

.form-cadastro .gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
}

.form-cadastro .section-botoes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.section-botoes .botao {
    display: inline-block;
    background-color: #004aad;
    color: white;
    font-weight: bold;
    padding: 10px 35px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.section-botoes .botao:hover {
    background-color: #ef0189;
}

.form-cadastro .input-box.erro input,
.form-cadastro .input-box.erro select,
.form-cadastro .input-box.erro textarea {
    outline: solid 1px red;
}

.form-cadastro .mensagem-erro {
    color: red;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    display: none;
    margin-top: 2px;
}

.form-cadastro .campo-invalido .erro-invalido {
    display: block;
}

.form-cadastro .campo-vazio .erro-obrigatorio {
    display: block;
}

/* Responsividade */

@media screen and (max-width: 800px) {
    .form select {
        width: auto;
    }
    .cadastro,
    .input-group {
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
    .form select {
        width: auto;
    }
    .input-group {
        flex-direction: column;
    }
}