main {
    background-image: url(../imagens/Fundo05-desfocado.png);
    background-size: 100%;
}
.section {
    display: flex;
    flex: 1;
    justify-content: center;
}
a {
    text-decoration: none;
    font-weight: 400;
}
a:hover {
    color: #ef0189;
    font-weight: 400;
}
.div01 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 14px;
    line-height: 1.34em;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    height: auto;
    width: 400px;
    background-color: white;
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%;
    box-shadow: -1px 0px 8px 0px rgb(82, 82, 82);
}
main > section > div > iframe {
    width: 400px;
    height: 320px;
}
section > div > p {
    font-size: 14px;
    margin-top: 2em;
    padding: right 1.5em;
}
h2 {
    font-size: 25px;
    font-weight: 600;
    padding-top: 0.8em;
    margin-bottom: 10px;
}
h4 {
    font-size: 14px;
    font-weight: 400;
}
.ul-endereco {
    list-style-type: disc;
    margin-left: 0.9rem;
}
.div02 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    line-height: 1.34em;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.02rem;
    padding-bottom: 1rem;
    height: auto;
    width: 400px;
    background-color: #bee3ed;
    color: black;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    box-shadow: 1px 0px 8px 0px rgb(82, 82, 82);
}
/* Caso queira usar animação em degradê */
/* @keyframes animacaofundodiv02 {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
} */
.h2 {
    font-size: 40px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.1px;
}
.h2::after {
    background-color: #004aad;
    content: '';
    display: block;
    width: 7rem;
    height: 0.3rem;
    position: relative;
    border-radius: 10px;
    margin-top: 13px;
}
.p-campos{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 11px;
    font-style: italic;
    color: red;
}
main > section > div > form {
    font-size: 14px;
    font-weight: bolder;
}
.obrigatorio {
    display: none;
    margin: -8px 0 10px 0;
    font-size: 12px;
    font-weight: 400;
    color: red;
}
.text-input {
    width: 380px;
    outline: none;
    border-radius: 10px;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    transition: .3s;
}
.text-input:focus {
    border: 2px solid;
    border-color: #004aad;
}
main > section > div > form > div > div {
    display: flex;
    align-items: baseline;
}
.a2 {
    color: #004aad;
    text-decoration: underline;
}
.a2:hover {
    color: #ef0189;
}

button {
    margin-top: 8px;
    padding: 13px 35px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background-color: #004aad;
    cursor: pointer;
}
button:hover {
    background-color: #ef0189;
}

/* Media Query = Mobile */

@media screen and (min-width: 255px) and (max-width: 520px) {
    section {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main > section > div > iframe {
        width: 100%;
        height: 180px;
    }
    .div01 {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        margin-bottom: 0px;
        width: 70%;
    }
    .div02 {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        margin-top: 0px;
        width: 70%;
        box-shadow: 1px 8px 8px 0px rgb(82, 82, 82);
    }
    h2 {
        font-size: 18px;
    }
    .h2 {
        font-size: 23px;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1.1px;
    }
    .h2::after {
        margin-top: 8px;
        width: 4.5rem;
    }
    main > section > div > form {
        font-size: 12px;
        font-weight: bolder;
    }
    .text-input {
        width: 95%;
    }
}

    /* Media Query = Tablet */

@media screen and (min-width: 520px) and (max-width: 1000px) {
    section {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main > section > div > iframe {
        width: 70%;
        height: 220px;
    }
    .div01 {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        margin-bottom: 0px;
        padding-left: 50px;
        width: 70%;
        text-align: center;
        line-height: 1.8em;
    }
    .ul-endereco {
        list-style: none;
    }
    .div02 {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        margin-top: 0px;
        padding-left: 50px;
        width: 70%;
        text-align: center;
        display: block;
        box-shadow: 1px 8px 8px 0px rgb(82, 82, 82);
    }
    main > section > div > form {
        font-size: 14px;
        font-weight: bolder;
    }
    .text-input {
        width: 95%;
    }
    .h2 {
        font-size: 30px;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1.1px;
    }
    .h2::after {
        margin: auto;
        margin-top: 12px;
        position: relative;
    }
}