main {
    background-image: url(../imagens/Fundo05-desfocado.png);
    background-size: 100%;
}
.section {
    display: flex;
    flex: 1;
    justify-content: center;
}
a {
    text-decoration: none;
    font-weight: 400;
}
a:hover {
    color: #ef0189;
    font-weight: 400;
}
.div01 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    line-height: 1.34em;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    height: auto;
    width: 400px;
    background-color: white;
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%;
    box-shadow: -1px 0px 8px 0px rgb(82, 82, 82);
}
ul {
    font-size: 14px;
}
.p01 {
    font-size: 14px;
    margin-top: 2em;
    padding: right 1.5em;
}
h2 {
    font-size: 25px;
    font-weight: 600;
    padding-top: 0.8em;
    margin-bottom: 10px;
}
h4 {
    font-size: 14px;
    font-weight: 400;
}
.ul-endereco {
    list-style-type: disc;
    margin-left: 0.9rem;
}
.div02 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    line-height: 1.34em;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.02rem;
    padding-bottom: 1rem;
    height: auto;
    width: 400px;
    background-color: #bee3ed;
    color: black;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    box-shadow: 1px 0px 8px 0px rgb(82, 82, 82);
}
/* Caso queira usar animação em degradê */
/* @keyframes animacaofundodiv02 {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
} */
.h2 {
    font-size: 40px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.1px;
}
.p02 {
    font-size: 14px;
    margin-top: 1.5em;
}
form {
    margin-top: 1.3rem;
    font-size: 14px;
    font-weight: 400;
}
.text-input {
    width: 380px;
    border-radius: 10px;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
}
.a2 {
    color: #004aad;
    text-decoration: underline;
}
.a2:hover {
    color: #ef0189;
}
.botao {
    display: inline-block;
    background-color: #004aad;
    color: white;
    font-weight: bold;
    margin-top: 0.5rem;
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;
}
.botao:hover {
    display: inline-block;
    background-color: #ef0189;
    color: white;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;
}