html {
    scroll-behavior: smooth;
}

.fundo-gradiente {
    background: linear-gradient(90deg, rgb(205 255 216 / 52%), rgb(148 185 255 / 52%));
}

.boas-vindas {
    display: flex;
    width: 70%;
    margin: auto;
    gap: 5%;
}

.boas-vindas>* {
    flex: 1;
}

.texto-boas-vindas {
    padding-top: 60px;
}

.texto-boas-vindas h1,
.texto-boas-vindas h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.texto-boas-vindas h1 {
    color: #ef0189;
}

.texto-boas-vindas h2 {
    color: #004AAD;
}

.texto-boas-vindas h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 30px;
}

.botao {
    display: inline-block;
    background-color: #004aad;
    color: white;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;
}

.botao:hover {
    background-color: #ef0189;
}

.conteiner-carrossel {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* width: 524px; */
    margin-bottom: 25px;
}

.carrossel img {
    border-radius: 14% 30%/73%;
    z-index: 10;
    transform: scale(1.0);
    object-fit: fill;
}

.carrossel {
    display: flex;
    /* width: 524px; */
    /* https://css-tricks.com/css-only-carousel/ */
    overflow: hidden;
}

.carrossel>div {
   flex: 0 0 100%;
}

.carrossel figure>img {
   height: 400px;
}

.carrossel:hover {
    animation-play-state: paused;
}

.carrossel figcaption {
    text-align: center;
}

.navegacao-carrossel {
    z-index: 10;
    align-self: center;
}

.navegacao-carrossel a {
    text-decoration: none;
    font-size: 22px;
    color: #ef0189;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateX(524px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes sumir {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-524px);
    }
}

.carrossel div.aparecer {
    animation: aparecer 1s;
}

.carrossel div.ficar {
    opacity: 1;
}

.carrossel div.sumir {
    animation: sumir 1s;
}

/* Responsividade*/

@media screen and (max-width: 1024px) {
    .boas-vindas {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .carrossel img {
        width: unset;
        height: 35vw;
    }
}

/* mobile */

@media screen and (max-width: 720px) {

    .carrossel img {
        width: unset;
        height: 50vw;
    }
}
