/* Estilizando o Menu */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header {
    position: sticky;
    top: 0;
    z-index: 20;
}

.w-100 {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #FEFEFE;
    padding: 0 50px;
    /* Caso queiramos o fundo do menu transparente
    background-color: #cddadba8;
    backdrop-filter: blur(40px); */
}

.menu .logo {
    display: flex;
    align-items: center;
    height: 70px;
    width: 200px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.menu li a {
    text-decoration: none;
    font-size: 14px;
    color: #262b73;
    padding: 6px 12px;
}

.menu li a:hover {
    background-color: #3e46b8;
    color: white;
    border-radius: 2em;
}

/* Estilizando o submenu */

.menu ul li a ul {
    float: left;
    width: 200px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.menu ul ul {
    margin-top: 10px;
    display: none;
    top: 0px;
    position: absolute;
}

.menu ul li ul {
    width: 200px;
    height: 40px;
    margin-right: 10px;
    position: absolute;
    flex-direction: column;
}

.menu ul li ul li {
    width: 200px;
    height: 40px;
    white-space: nowrap;
    margin-right: 30px;
}

.menu ul li:hover>ul {
    padding-top: 50px;
    display: block;
    margin-top: 1px;
}

img {
    width: 100%;
}


/* Estilizando o rodapé */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: #262b73;
}

footer a {
    color: #262b73;
}

footer a:hover {
    color: #ef0189;
}

footer a:active {
    color: #ef0189;
}

.fundo-gradiente {
    padding-top: 3em;
    background: linear-gradient(90deg, rgb(205 255 216 / 52%), rgb(148 185 255 / 52%));
}

footer>p {
    padding-bottom: 0.5em;
    font-size: 16px;
}

.redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.redes img {
    height: 36px;
    width: 36px;
}

div.copyright p {
    padding-top: 8px;
}

footer .w-100 p {
    padding-top: 15px;
}

nav.mapa-site {
    display: flex;
    padding: 30px;
    width: 90%;
    margin: auto;
    text-align: left;
}

nav.mapa-site>* {
    width: 33%;
}

.mapa-site li {
    margin-bottom: 8px;
}