body {
    background-color: #F7FDF3;;
}

.todas-as-sections{
    display: flex;
    flex: 1;
}
h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}
.div {
    margin: 30px 0;
    align-items: center;
    text-align: justify;
    line-height: 1.48em;
    padding-left: 13rem;
    padding-right: 13rem;
    height: auto;
    width: auto;
}
.paragrafo {
    text-indent: 3em;
}