body {
    background-color: #F7FDF3;;
}

main > section {
    display: flex;
    flex: 1;
}
main section div {
    margin: auto;
    align-items: center;
    text-align: justify;
    line-height: 1.48em;
    padding-left: 5rem;
    padding-right: 5rem;
    height: auto;
    width: 950px;
}
main > section > div > h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1rem;
}
p {
    text-indent: 3em;
}

.section-final {
    padding-bottom: 30px;
}

/* Media Query = Mobile */

@media screen and (max-width: 499px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    main > section > div {
        margin: auto;
        display: block;
        align-items: center;
        font-size: 14px;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    main > section > div> h1 {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1em;
        margin-top: 1rem;
    }
    
}

/* Media Query = Tablet */

@media screen and (min-width: 500px) and (max-width: 1024px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    main > section > div {
        margin: auto;
        display: block;
        align-items: center;
        display: block;
        align-items: center;
        font-size: 15px;
        padding-left: 3.7rem;
        padding-right: 3.7rem;
    }
    main > section > div > h1 {
        font-size: 27px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1em;
    }
    
}