body {
    background-color: #F7FDF3;
}

.sessao-sobre {
    display: flex;
    gap: 100px;
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.sessao-sobre>* {
    flex: 1;
}

.imagem-fundo {
    display: grid;
}

.feijao-verde {
    transform: rotate(179.1deg);
    z-index: 1;
}

.imagem-fundo img {
    grid-area: 1/1;
    z-index: 2;
}

.titulo {
    font-size: 26px;
    color: #004AAD;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.sessao-sobre p {
    line-height: 22px;
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 20px;
}

.desenvolvedores {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    gap: 40px;
    margin-bottom: 50px;
}

.desenvolvedores h1.titulo {
    display: flex;
    justify-content: center;
}

.desenvolvedores .titulo-linha::after {
    background-color: #ef0189;
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    margin-top: 4px;
}

.desenvolvedores article {
    display: flex;
    gap: 40px;
    background-color: #e0f5fd;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 2px 4px 4px #00000048;
}

.desenvolvedores article figure {
    flex: 2;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.desenvolvedores article .descricao-desenvolvedor {
    flex: 5;
    align-self: center;
}

.desenvolvedores article:nth-child(odd) {
    flex-direction: row-reverse;
}

.desenvolvedores figcaption {
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
}

.desenvolvedores article figure img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: auto;
    box-shadow: 2px 4px 4px #7a7a7a6b;
}

.desenvolvedores em {
    font-style: italic;
}

.desenvolvedores div p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 0;
    text-indent: 40px;
    line-height: 22px;
}

.desenvolvedores .citacao {
    font-style: italic;
}

.desenvolvedores article span .redes-desenvolvedores {
    display: block;
    text-align: right;
}

.desenvolvedores .redes-desenvolvedores img {
    width: 10%;
}

.desenvolvedores .implementações-futuras {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-indent: 40px;
    line-height: 22px;
    padding: 30px;
}

.desenvolvedores .tabela-imagem {
    display: flex;
}

.desenvolvedores table {
    flex: 4;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 4px 4px #696969c0;
    border-collapse: collapse;
    border-style: hidden;
}


.desenvolvedores th {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    color: #FEFEFE;
    background-color: #ef0189;
    text-align: center;
}

table th,
table td {
    background-color: #fefefefa;
    padding: 0 10px;
    width: 50%;
    box-shadow: 2px 4px 4px #696969c0;
    vertical-align: middle;
    border: 1px solid #696969c0;
}

.desenvolvedores .quebra-cabeça {
    border-radius: 20px;
    width: 250px;
    height: 250px;
    box-shadow: 2px 4px 4px #696969c0;
}

/* responsividade */

@media screen and (max-width: 400px) {

    .desenvolvedores {
        width: 80%;
        justify-content: center;
    }

    article {
        width: 80%;
    }

    .desenvolvedores article figure img {
        width: 100px;
        height: 100px;
    }

    .titulo {
        font-size: 20px;
    }

    .desenvolvedores div p,
    .sessao-sobre p {
        font-size: 13px;
    }

    div#tabelaresponsiva {
        overflow-x: auto;
        /* width: 50vw; */
        align-items: center;
    }

    .desenvolvedores .quebra-cabeça {
        width: 50%;
        height: 50%;
    }

    table th, table td {
        padding: 20px 10px;
        font-size: 12px;
    }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    .desenvolvedores table {
        width: 50%;
        flex-direction: column;
        align-items: center;
    }

    .desenvolvedores th {
        padding: 10px;
        font-size: 13px;
    }

    div#tabelaresponsiva {
        overflow-x: auto;
        /* width: 50vw; */
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {

    .sessao-sobre {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .imagem-fundo {
        width: 40%;
        margin: auto;
    }

    .desenvolvedores article,
    .desenvolvedores article:nth-child(odd) {
        display: flex;
        flex-direction: column;
        padding: 15px 25px;
        gap: 0;
    }

    .desenvolvedores .tabela-imagem {
        flex-direction: column;
        gap: 2rem;
    }

}